[submodule "app.thumus.eu"]
	path = packages/app
	url = git@github.com:Thumuss/app.thumus.eu.git
[submodule "backend.thumus.eu"]
	path = packages/backend
	url = git@github.com:Thumuss/backend.thumus.eu.git
[submodule "docs.thumus.eu"]
	path = packages/docs
	url = git@github.com:Thumuss/docs.thumus.eu.git
[submodule "packages/bashlike"]
	path = packages/bashlike
	url = git@github.com:Thumuss/yash.thumus.eu.git
[submodule "packages/link"]
	path = packages/link
	url = git@github.com:Thumuss/link.thumus.eu.git
[submodule "packages/frontend"]
	path = packages/frontend
	url = git@github.com:Thumuss/frontend.thumus.eu.git
[submodule "packages/short"]
	path = packages/short
	url = git@github.com:Thumuss/short.thumus.eu.git